# Dependencies
node_modules/
package-lock.json

# AWS SAM
.aws-sam/
samconfig.toml

# Environment
.env
env.json

# Local DynamoDB data
.dynamodb/

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo
*~